/* Definicion de colores comunes */
:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --bg-color: #3b3b3b;
  --header-bg: #292929;
  --footer-bg: #e7a412;
  --menu-bg: #b1801e;
  --menu-bg2: #615f5b;
  --heading1: #ffbb00;
  --heading2: #f8e8bb;
  --text1: #fcfcfc;
  --text2: #111;

  --third-color: #db4648;
  --third-bis-color: #db4648f2;
  --bg-input-color: #4f31572c;

  --tarjeta-radius: 6px;
}

/* Valores por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;

  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

a {
  color: var(--text2);
}

.invisible {
  display: none;
}

/* Estilos generales */
.estilo-body {
  background-image: url("../img/fondo1.jpg");
  /* Ruta a tu imagen de fondo */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  background-size: cover;
  /* Ajusta la imagen al tamaño de la ventana del navegador */
}

#subir {
  z-index: -999;
}

/* ---------------------------- */
/* ---------- Header ---------- */
/* ---------------------------- */
header {
  z-index: 999;
  position: sticky;
  top: 0;
  color: var(--secondary-color);
  background-color: var(--header-bg);
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

#logo-subir a i {
  position: fixed;
  bottom: 30px;
  right: 10px;
  color: #608f14;
}

header h1 {
  color: var(--heading1);
  font-weight: 600;
  font-size: min(max(16px, 4vw), 22px);
}

/* contenedor de logo */
.logo-header {
  display: flex;
  align-items: center;
}

/* imagen de logo */
.logo-header img {
  width: 45px;
  margin-right: 8px;
}

#logo-subir {
  display: flex;
  justify-content: right;
  z-index: 99;
  position: fixed;
  /* top, left, right, están puestos acá para que funcione el flexbox con fixed */
  top: 35px;
  left: 0;
  right: 40px;
}

/* -------------------------- */
/* ---------- Menu ---------- */
/* -------------------------- */
/* lista de menu */
nav ul {
  display: flex;
  align-items: center;
  margin-left: 3.4rem;
  margin-bottom: 0.3rem;
}

/* elementos de menu */
nav li {
  color: var(--secondary-color);
  padding: 0 15px;
  border-left: 1px solid var(--secondary-color);
}

nav li:last-child {
  border-right: 1px solid var(--secondary-color);
}

nav li:hover {
  background-color: var(--menu-bg2);
}

/* links de menu */
nav a {
  text-transform: capitalize;
  color: var(--secondary-color);
}

/* icono de menu */
.menu-icon img {
  width: 35px;
}

/* icono hamburguesa oculto por defecto */
.menu-icon,
#check {
  display: none;
}

/* -------------------------- */
/* ------- Container -------- */
/* -------------------------- */
.container {
  background-color: rgba(255, 255, 255, 0.425);
  margin: 9px 9px 0px;
  padding: 15px 15px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.container p {
  color: var(--text2);
}

.container h2 {
  color: var(--heading1);
  font-weight: 700;
  font-size: 1.8rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8), 0 1px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
}

/* -------------------------- */
/* ------- Categorias ------- */
/* -------------------------- */
.tarjetas-cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  color: #ffffff;
  gap: 10px;
}

.tarjetas-cat a {
  color: #ffffff;
}

.tarjeta-cat {
  width: 200px;
  height: 65px;
  border-radius: var(--tarjeta-radius);
  position: relative;
  overflow: hidden;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tarjeta-cat:hover img {
  transform: scale(1.1);
}

.tarjeta-cat img {
  width: 220%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  scale: 1;
  border-radius: var(--tarjeta-radius);
  object-fit: cover;
  transition: all 0.3s;
}

.overlay-cat {
  width: 100%;
  opacity: 1;
  background: linear-gradient(transparent 10%, rgba(43, 43, 42, 0.822) 90%);
  border-radius: var(--tarjeta-radius);
  position: absolute;
  left: 0;
  bottom: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 40px;
  text-align: center;
}

.overlay-cat h3 {
  font-weight: 600;
  font-size: 15px;
  text-shadow: 0 0 10px #000, 0 0 15px #000, 0 0 25px #000;
}

/* ---------------------------------------------- */
/* -------- Tarjetas de Recetas Populares-------- */
/* ---------------------------------------------- */
.tarjetas-pop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  color: #ffffff;
  gap: 10px;
}

.tarjetas-pop a {
  color: #ffffff;
}

.columna-pop {
  width: 100%;
  background-color: #ffffff99;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  backdrop-filter: blur(7px);
}

.titulo-pop {
  font-size: 1.5rem;
  font-weight: 900;
  color: #000;
}

.tarjeta-pop {
  background-color: #cc992c;
  width: 100%;
  height: 100px;
  border-radius: var(--tarjeta-radius);
  position: relative;
  overflow: hidden;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tarjeta-pop p {
  color: var(--text1);
}

.tarjeta-pop:hover img {
  transform: scale(1.1);
}

.tarjeta-pop img {
  margin-left: -30%;
  width: 220%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  scale: 1;
  border-radius: var(--tarjeta-radius);
  object-fit: cover;
  transition: all 0.3s;
}

.overlay-pop .checked {
  color: orange;
}

.overlay-pop {
  height: 100%;
  width: 90%;
  background: linear-gradient(90deg, transparent 10%, rgb(0, 0, 0) 40%);
  border-radius: var(--tarjeta-radius);
  position: absolute;
  right: 0;
  bottom: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4% 3% 1% 35%;
  text-align: center;
  font-size: 12px;
  gap: 3px;
}

.overlay-pop h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 0 0 10px #000, 0 0 15px #000, /* 0 0 20px #000, */ 0 0 25px #000;
}

/* -------------------------------------- */
/* ---------- Receta estrella ----------- */
/* -------------------------------------- */
.receta-estrella {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 10px;
}

.receta-estrella .checked {
  color: orange;
}

.receta-estrella-col h3 {
  font-weight: 700;
}

.receta-estrella-col {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
}

.receta-estrella-col1 {
  align-items: end;
}

.receta-estrella-col2 {
  align-items: start;
}

.tarjeta-est {
  border: 1px solid #666;
  padding: 10px;
  margin-bottom: 15px;
  width: 50%;
  border-radius: 2px;
  transform: rotate(3deg);
  background-color: #fcfcfc;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.tarjeta-est img {
  height: auto;
  /* Evita que la imagen se extienda más allá de su tamaño original */
  max-width: 100%;
  /* Evita que la imagen se extienda más allá de su tamaño original */
  max-height: 100%;
  scale: 1;
  vertical-align: middle;
  object-fit: cover;
  transition: all 0.3s;
}

#grid-estrella {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  text-align: center;
}

#tabla-info-estrella {
  width: 60%;
  border-color: #ef3311;
  border: 5px;
  margin-left: 21%;
}

#tabla-info-estrella,
th,
td {
  border: 1px solid #ef3311;
  text-align: center;
}

#tabla-info-estrella th {
  background-color: coral;
}

#tabla-info-estrella tr:hover {
  background-color: rgb(251, 251, 252);
}

/* ---------------- Estilos para calificar con estrellas------------------- */
.container-estrella {
  position: relative;
  width: 400pz;
  background: #e7a412;
  padding: 20px 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .comentar{
  display: none;
}

.agradecimiento{
  font-size: 25px;
  color: #111;
  font-weight: 500;
  display: none;
}

/* .container-estrella .editar{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 15px;
  color: #111;
  font-weight: 500;
  cursor: pointer;
  display: none;
} */

/* .container-estrella .editar:hover{
  text-decoration: underline;
} */

.container-estrella .estrella-widget input{
  display: none;
}

.estrella-widget label{
  font-size: 35px;
  color: gray;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: yellow;
}

input:checked ~ label{
  color: yellow;
}

input#calificar-5:checked ~ label{
  color: rgb(255, 255, 4);
  text-shadow: 0 0 20px #952;
}

/* revisar los dos siguientes*/
.container-estrella form{
  display: none;
}

input:checked ~ form{
  display: block;
}

form .area-comentario{
  height: 100px;
  width: 100%;
  overflow: hidden;
}

form .area-comentario textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: black;
  border: 1px solid #333;
  background: white;
  padding: 10px;
  font-size: 17px;
  resize: none;
  border-radius: 10px;
}

form .boton-calificar{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}

form .boton-calificar button{
  height: 100%;
  width: 100%;
  border: 1px solid black;
  outline: none;
  background:white;
  color: black;
  font-size: 17px;
  font-weight: 1000;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .boton-calificar button:hover{
  background: rgb(255, 255, 4);
}


/* ----------------------------------------------------------- */
/* ----------------------- Testimonios ----------------------- */
/* ----------------------------------------------------------- */
/* Estilos CSS para la galería de testimonios */
.testimonios-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  color: #ffffff;
  gap: 10px;
}

.testimonial {
  display: flex;
  align-items: start;
  padding: 10px;
  border-radius: 10px;
  background-color: #e6e6e699;
}

.testimonial img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-right: 20px;
  /* Añade un borde negro fino */
  border: 2px solid black;
}

.testimonial p {
  font-size: 16px;
  line-height: 1.5;
  /* Ancho máximo del párrafo */
  max-width: 400px;
  /* Eliminar los márgenes predeterminados */
  margin: 0;
  /* Agregar espacio interno */
  padding: 10px;
  /* Color de fondo para resaltar */
  background-color: #f9f9f9;
  /* Bordes redondeados */
  border-radius: 10px;
}

/* -------------------------------------------- */
/* -------------- Sobre nosotros -------------- */
/* -------------------------------------------- */
.tarjetas-equipo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
}

.tarjeta-equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: var(--heading1);
  background-color: #222222;
  border-radius: 15px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 29px;
  gap: 5px;
}

.tarjeta-equipo h3 {
  margin: 6px 0;
}

.tarjeta-equipo img {
  border-radius: 7px;
}

.tarjeta-equipo p {
  color: var(--text1);
  margin: 10px 0;
}

/* -------------------------------------------------------- */
/* ---------------- Formulario de contacto ---------------- */
/* -------------------------------------------------------- */
.form-name {
  /* Espacio entre el formulario y el siguiente elemento */
  margin-bottom: 10px;
}

.form-name label {
  /* Hacer que el label ocupe todo el ancho disponible */
  display: block;
  font-weight: bold;
  color: yellow;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  /* Espacio entre el label y el input */
  margin-bottom: 5px;
}

.form-name input[type="text"] {
  /* El input ocupará todo el ancho disponible */
  width: 50%;
  /* Espaciado interior para el input */
  padding: 8px;
  /* Borde para el input */
  border: 1px solid #ccc;
}

.form-email {
  /* Espacio entre el formulario y el siguiente elemento */
  margin-bottom: 10px;
}

.form-email label {
  /* Hacer que el label ocupe todo el ancho disponible */
  display: block;
  font-weight: bold;
  color: yellow;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  /* Espacio entre el label y el input */
  margin-bottom: 5px;
}

.form-email input[type="email"] {
  /* El input ocupará todo el ancho disponible */
  width: 50%;
  /* Espaciado interior para el input */
  padding: 8px;
  /* Borde para el input */
  border: 1px solid #ccc;
}

.form-message {
  /* Espacio entre el formulario y el siguiente elemento */
  margin-bottom: 10px;
}

.form-message label {
  /* Hacer que el label ocupe todo el ancho disponible */
  display: block;
  font-weight: bold;
  color: yellow;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  /* Espacio entre el label y el textarea */
  margin-bottom: 5px;
}

.form-message textarea {
  /* El textarea ocupará todo el ancho disponible */
  width: 50%;
  /* Espaciado interior para el textarea */
  padding: 8px;
  /* Borde para el textarea */
  border: 1px solid #ccc;
}

.form-motivo {
  /* Espacio entre el formulario y el siguiente elemento */
  margin-bottom: 10px;
}

.form-motivo label {
  /* Hacer que el label ocupe todo el ancho disponible */
  display: block;
  font-weight: bold;
  color: yellow;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  /* Espacio entre el label y el textarea */
  margin-bottom: 5px;
}

.form-motivo textarea {
  /* El textarea ocupará todo el ancho disponible */
  width: 50%;
  /* Espaciado interior para el textarea */
  padding: 8px;
  /* Borde para el textarea */
  border: 1px solid #ccc;
}

/* Estilo para el contenedor de la sección */
.form-calif {
  /* Espacio inferior para separar de otros elementos */
  margin-bottom: 20px;
}

/* Estilo para los radio buttons */
.form-calif input[type="radio"] {
  /* Oculta los radio buttons por defecto */
  display: none;
}

/* Estilo para las etiquetas de los radio buttons */
.form-calif label {
  /* Cambia las etiquetas a bloques para colocarlas una debajo de la otra */
  display: block;
  /* Espacio inferior entre las etiquetas para separarlas */
  margin-bottom: 10px;
  /* Cambia el cursor al pasar sobre las etiquetas */
  cursor: pointer;
  font-weight: bold;
}

/* Estilo para las etiquetas cuando están seleccionadas */
.form-calif input[type="radio"]:checked + label {
  /* Texto en negrita cuando están seleccionadas */
  font-weight: bold;
  /* Cambia el color del texto cuando están seleccionadas */
  color: rgb(198, 237, 23);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.form-calif-preg {
  /* Estilos específicos para el encabezado h3 */
  font-weight: bold;
  color: rgb(226, 226, 4);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  margin-bottom: 5px;
}

.form-button input[type="submit"],
.form-button button[type="button"] {
  /* Fondo blanco */
  background-color: #ffffff;
  /* Borde negro */
  border: 1px solid #000000;
  /* Bordes redondeados */
  border-radius: 5px;
  /* Espaciado interno */
  padding: 10px 20px;
  /* Sombra para el efecto relieve */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* Cambia el cursor al pasar por encima */
  cursor: pointer;
  /* Texto en negrita */
  font-weight: bold;
  /* Color del texto */
  color: #000000;
  /* Transición suave */
  transition: all 0.3s ease;
}

/* Estilos para el hover (cuando el cursor pasa por encima) */
.form-button input[type="submit"]:hover,
.form-button button[type="button"]:hover {
  /* Cambia el fondo a un tono más claro */
  background-color: #f2f2f2;
}

/* --------------------------- */
/* FOOTER CON GRID E ICONOS SN */
/* --------------------------- */
footer {
  color: #333;
  padding: 20px;
  text-align: center;
  /* Fuente Roboto */
  font-family: "Roboto", sans-serif;
  display: grid;
  /* 12 columnas de tamaño igual */
  grid-template-columns: repeat(12, 1fr);
  /* Espacio entre las secciones */
  gap: 20px;
}

/* Estilos para las secciones del footer */
.section-footer {
  /* Ocupa todas las columnas disponibles */
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr;
  /* Espacio entre las secciones */
  gap: 20px;
}

.contacto,
.redes-sociales,
.derechos {
  padding: 20px;
  border-radius: 10px;
  margin: 0;
  font-size: 1.1em;
  font-weight: bold;
  /* Fondo gris semi-transparente */
  background-color: rgba(97, 95, 95, 0.5);
  /* Color del texto blanco */
  color: white;
  /* Efecto de brillo */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.contacto a {
  color: #fff;
}

.redes-sociales a {
  display: inline-block;
  /* Espacio entre enlaces */
  margin: 10px 15px 0;
  color: #020202;
}

.redes-sociales a:hover {
  /* Cambiar color al pasar el mouse */
  color: #ef3311;
}

/* Redefinir el tamaño de los iconos de redes sociales */
.redes-sociales a img {
  width: 30px; /* Ajusta el ancho de los iconos */
  height: auto; /* Mantiene la proporción de aspecto */
}

.redes-sociales {
  /* Centra horizontalmente */
  justify-content: center; 
}

#contacto h2,
#redes-sociales h2 {
  /* Eliminar margen superior */
  margin-top: 0;
}

#derechos {
  /* Ajusta el tamaño del texto según tus preferencias */
  font-size: 0.9em;
  /* Color del texto blanco */
  color: rgb(14, 13, 7);
  font-weight: bold;
  /* Usando Nunito como la fuente principal */
  font-family: "Nunito", sans-serif;
}

/* ------------------------------------------------------------- */
/* ----------------------- MEDIA QUERIES ----------------------- */
/* ------------------------------------------------------------- */

/* ***************** TABLETA ***************** */
@media (max-width: 768px) {
  /* ---------- Header ---------- */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  /* checkbox menu */
  .checkbtn {
    display: block;
  }

  /* icono hamburguesa */
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  /* ---------- Menu ---------- */
  /* contenedor de menu */
  nav ul {
    z-index: 999;
    display: block;
    position: fixed;
    left: 100%;
    background: var(--header-bg);
    width: 100%;
    right: 100px;
    margin-left: 0;
  }

  /* elementos de menu */
  nav li:hover {
    background-color: var(--menu-bg2);
  }

  nav li:hover a {
    color: var(--primary-color);
  }

  nav ul li {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 0;
    border: 0;
  }

  nav ul li:last-child {
    border: 0;
  }

  /* links de menu */
  nav a {
    color: var(--secondary-color);
  }

  /* transicion de menu */
  #check:checked ~ ul {
    top: 65px;
    left: 0;
    transition: all 0.25s;
  }

  /* Receta estrella  */
  .receta-estrella-col {
    padding: 0px;
  }

  .receta-estrella-col1 {
    order: 1;
    align-items: center;
  }

  .receta-estrella-col2 {
    align-items: center;
  }

  /* ---------- Footer ---------- */
}

/* ***************** Celular ***************** */
@media (max-width: 480px) {
  /* ---------- Header ---------- */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  /* checkbox menu */
  .checkbtn {
    display: block;
  }

  /* icono hamburguesa */
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  /* ---------- Menu ---------- */
  /* contenedor de menu */
  nav ul {
    z-index: 999;
    display: block;
    position: fixed;
    left: 100%;
    background: var(--header-bg);
    width: 100%;
    right: 100px;
    margin-left: 0;
  }

  nav li:hover a {
    color: var(--primary-color);
  }

  nav ul li {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 0;
    border: 0;
  }

  nav ul li:last-child {
    border: 0;
  }

  /* links de menu */
  nav a {
    color: var(--secondary-color);
  }

  /* transicion de menu */
  #check:checked ~ ul {
    top: 65px;
    left: 0;
    transition: all 0.25s;
  }

  .container {
    background-color: transparent;
    margin: 0px auto 15px;
    padding: 10px 10px;
    backdrop-filter: none;
  }

  /* tarjeta */
  .tarjeta-cat {
    width: 100px;
    height: 65px;
  }
  .overlay-cat h3 {
    font-size: 0.85rem;
  }

  /* ---------- Footer ---------- */
}
/* ------------------------------------------------------------- */
